<launch>

  <!-- Run the O79 CAN node for CAN output -->
  <node name="socketcan_bridge" pkg="socketcan_bridge" type="socketcan_bridge_node"  required="true" >
    <param name="can_device" value="can0" />
  </node>
  <node name="o79_can" pkg="ainstein_radar_drivers" type="o79_can_node" required="true" output="screen" >
    <param name="can_id" value="0x18FFB24D" />
  </node>

  <!-- Run the O79 UDP node for Ethernet output -->
  <node name="o79_udp" pkg="ainstein_radar_drivers" type="o79_udp_node" output="screen" required="true" >
    <param name="host_ip" value="10.0.0.75" />
    <param name="host_port" value="1024" />
    <param name="radar_ip" value="10.0.0.10" />
    <param name="radar_port" value="7" />
  </node>

  <!-- Filter for tracking targets -->
  <node name="tracking_filter" pkg="ainstein_radar_filters" type="tracking_filter_node" output="screen" >
    <remap from="radar_in" to="/o79_udp/targets/raw" />
    <param name="filter_update_rate" value="20.0" />
  </node>
  
  <!-- Load the dynamic parameters for the tracking filter -->
  <env name="ROSCONSOLE_CONFIG_FILE" value="$(find bobcat_demo)/config/rosconsole.conf"/>
  <node name="tracking_dynamic_reconfigure_load" pkg="dynamic_reconfigure" type="dynparam" args="load /tracking_filter $(find bobcat_demo)/params/k79_tracking_filter_bobcat.yaml" />

  <node name="rviz" pkg="rviz" type="rviz" />
  
</launch>
