<launch>
  <!-- declare args to be passed in -->
  <arg name="can_sa_arg" default="4C"/>

  <!-- explicitly set use_sime_time to false in case some other node, like playback, has set it to true -->
  <param name="use_sim_time" value="false" />

  <node name="socketcan_bridge" pkg="socketcan_bridge" type="socketcan_bridge_node"  required="true" >
    <param name="can_device" value="can0" />
  </node>

  <node name="o79_can" pkg="ainstein_radar_drivers" type="o79_can_node" required="true" output="screen" >
    <param name="can_sa" type="str" value="$(arg can_sa_arg)" />
  </node>

</launch>
