<launch>
  <!-- declare args to be passed in -->
  <arg name="radar_ip_arg" default="10.0.0.10"/>
  <arg name="host_ip_arg" default="10.0.0.75"/>
  <arg name="host_port_arg" default="1024" />

  <node name="o79_udp" pkg="ainstein_radar_drivers" type="o79_udp_node" output="screen" required="true" >
    <param name="frame_id" value="map" />
    <param name="host_ip" value="$(arg host_ip_arg)" />
    <param name="host_port" value="$(arg host_port_arg)" />
    <param name="radar_ip" value="$(arg radar_ip_arg)" />
    <param name="radar_port" value="7" />
    <param name="publish_raw_cloud" value="true" />
    <param name="publish_tracked_cloud" value="false" />
  </node>

</launch>
