<launch>
  <!-- declare args to be passed in -->
  <arg name="video_device" default="/dev/video2"/>
  <arg name="img_width" default="320"/>
  <arg name="img_height" default="240"/>
  <arg name="name" default="usb_cam" />

  <machine name="localhost" address="localhost" default="true" />

  <arg name="machine" default="localhost" />

  <node machine="$(arg machine)" name="$(arg name)" pkg="usb_cam" type="usb_cam_node" output="screen" required="false" >
    <param name="video_device" value="$(arg video_device)" />
    <param name="image_width" value="$(arg img_width)" />
    <param name="image_height" value="$(arg img_height)" />
    <param name="framerate" value="10" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>

</launch>
