<launch>

  <machine name="localhost" address="localhost" default="true" />

  <arg name="machine" default="localhost" />

  <node machine="$(arg machine)" name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" required="false" >
    <param name="video_device" value="/dev/video2" />
    <param name="image_width" value="320" />
    <param name="image_height" value="240" />
    <param name="framerate" value="10" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>

</launch>
