<launch>

  <arg name="serial_port" default="/dev/ttyUSB0" />
  <arg name="enable_pcl" default="True" />
  
  <node name="wayv" pkg="ainstein_radar_drivers" type="wayv_node" output="screen" >
    <param name="frame_id" value="map" />
  </node>

  <!-- Convert Wayv raw detections (targets) to PointCloud2 -->
  <node name="wayv_pcl" pkg="ainstein_radar_filters" type="radar_target_array_to_point_cloud_node" >
    <remap from="radar_in" to="/wayv/targets/raw" />
    <param name="serial_port" value="$(arg serial_port)" />
    <param name="enable_pcl" value="$(arg enable_pcl)" />
  </node>

</launch>
