<launch>

  <arg name="serial_port" default="/dev/ttyUSB0" />
  <arg name="enable_pcl" default="True" />
  <arg name="enable_tlv" default="False" />
  <arg name="message_frequency" default="0.5" />
  <arg name="serial_baud" default="115200" /> <!-- 115200 or 921600 -->
  <arg name="server_ip" default="192.168.2.234" />
  <arg name="comm_mode" default="2" /> <!-- MODE_485(USB) = 0 or MODE_WIFI = 1 or MODE_MQTT = 2 -->
  <arg name="logging_mode" default="False" />
  <arg name="logging_dir" default="logs/wayv_api_logs" /> <!-- This records into the ~/.ros folder. -->
  <arg name="mqtt_host" default="localhost" />
  <arg name="mqtt_port" default="1883" />
  
  <node name="wayv" pkg="ainstein_radar_drivers" type="wayv_node" output="screen" >
    <param name="frame_id" value="map" />
    <param name="serial_port" value="$(arg serial_port)" />
    <param name="enable_pcl" value="$(arg enable_pcl)" />
    <param name="enable_tlv" value="$(arg enable_tlv)" />
    <param name="message_frequency" value="$(arg message_frequency)" />
    <param name="serial_baud" value="$(arg serial_baud)" />
    <param name="server_ip" value="$(arg server_ip)" />
    <param name="comm_mode" value="$(arg comm_mode)" />
    <param name="logging_mode" value="$(arg logging_mode)" />
    <param name="logging_dir" value="$(arg logging_dir)" />
    <param name="mqtt_host" value="$(arg mqtt_host)" />
    <param name="mqtt_port" value="$(arg mqtt_port)" />
  </node>

  <!-- Convert Wayv raw detections (targets) to PointCloud2 -->
  <!-- <node name="wayv_pcl" pkg="ainstein_radar_filters" type="radar_target_array_to_point_cloud_node" >
    <remap from="radar_in" to="/wayv/targets/raw" />
  </node> -->

</launch>
