<launch>

  <!-- Run the radar interface test node for processing CAN data into radar messages -->
  <param name="frame_id" value="/map" type="str"/>
  <node name="k79_test_node" pkg="radar_ros_interface" type="k79_test_node" output="screen" launch-prefix="sudo -E"/>

  <!-- Load the rviz configuration -->
  <arg name="rvizconfig" default="$(find radar_ros_interface)/rviz/k79_test.rviz" />

  <!-- Run rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
