<launch>

  <!-- Run the node to publish car data messages -->
  <node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(find radar_ros_interface)/bagfiles/parking_lot_data_raw.bag"/>

  <!-- Run the radar interface test node for processing CAN data into radar messages -->
  <node name="radar_ros_interface_test_node" pkg="radar_ros_interface" type="radar_ros_interface_test_node" />

  <!-- Run rqt_console for debugging -->
  <node name="debug_console" pkg="rqt_console" type="rqt_console" />

  <!-- Load the rviz configuration -->
  <arg name="rvizconfig" default="$(find radar_ros_interface)/rviz/radar_ros_interface_test.rviz" />

  <!-- Run rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
